html {
    height: 100%;
    background-color: #2B0057;
}

html, body, h1, h2 {
    font-family: Karla;
    margin: 0;
    padding: 0;
    height: 100%;
}

#head-container {
    display: flex;
    height: 200px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
h1 {
    height: 85px;
    display: flex;
    font-size: 80px;
    color: wheat;
    text-shadow:
        3px 3px 5px #410c53,
        -3px 3px 5px #410c53,
        -3px -3px 5px #410c53,
        3px -3px 5px #410c53;
}

.body {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;

    height: 100%;
    /* margin-left: 50%;
    margin-right: 50%; */
    /* height: 250px;
    width: 100%; */

    /* margin-left: 50%;
    margin-right: auto; */
}
#whole-page-flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body div {
    height: 250px;
    width: fit-content;
}

.flex-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    /* height: 100%;
    width: 100vw; */
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 600px; */
    align-items: center;
    justify-content: space-evenly;
}
.column {
    display: flex;
    flex-direction: column;
}
.rock-panel {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    justify-items:center;

    background-color: rgb(193, 199, 193);
    border-radius: 15px;
    width: 25vw;
    height: 25vw;
    max-height: 80vh;
    /* width: 350px;
    height: 350px; */

    border-style: outset;
    border-width: 0;
    border-right-width: 15px;
    border-bottom-width: 15px;
}
h2 {
    /* margin-top: 60px; */
    font-size: 40px;
    height: 80px;
    align-content: center;
    text-align: center;
}


#shigoto {
    margin-left: 20px;
    height: 60px;
    width: auto;
    -webkit-animation: rotate 4s linear infinite alternate;
    -moz-animation: rotate 1s linear infinite alternate;
    animation: rotate 1s cubic-bezier() infinite alternate;
}
@-moz-keyframes rotate { 
    0%      { -moz-transform: rotate(-5deg); }
    100%    { -moz-transform: rotate(5deg); } 
}
@-webkit-keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); }
    100%    { -webkit-transform: rotate(5deg); } 
}
@keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); 
                transform:rotate(-5deg);   }
    100%    { -webkit-transform: rotate(5deg); 
                transform:rotate(5deg);  } 
}


main {
    height: fit-content;
    width: fit-content;
    z-index: 10;
}

#pond-container {
    width: 100vw;   
    height: 100vh;  
    background-image: url('../img/seamless rocks.webp');
    position: absolute; 
    overflow: hidden; 
    z-index: -1;
}
#water-sheet {
    background-color: rgba(0, 149, 255, 0.293);
    position: absolute;
    width: 100%;   
    height: 100%;  
    z-index: 1;
}

.fish {
    position: absolute; 
    width: 300px;
    height: 300px;
    /* TODO: support variance for fish size? */
    
    left: calc(var(--start-x-pos) - 150px);
    top: calc(var(--start-y-pos) - 100px);
    
    background-image: url('../img/fish1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 0;
    border-radius: 0;
    /* setting origin helps ensure rotation is performed properly */
    transform-origin: center center; 
    transform: translate(-100%, -100%); 
    
    animation-name: fish-swim;

    opacity: 1; /* Start fully visible */
    transition: opacity 1s linear; 
}
.fish-animation {
    animation-timing-function: linear; 
    animation-fill-mode: forwards; 
}
.fish.fading-out {
    opacity: 0;
}

@keyframes fish-swim {
    0% { 
        transform: rotate(var(--rotation-angle)) translate(0, 0); 
    }
    100% { 
        /* calculate total travel distance via (end - start) */
        transform: rotate(var(--rotation-angle)) translate(
            calc(var(--end-x-pos) - var(--start-x-pos)), 
            calc(var(--end-y-pos) - var(--start-y-pos))
        );
    }
}

/* TODO: */
.animate-lr { animation-name: move-lr; }
.animate-tb { animation-name: move-tb; }
.animate-rl { animation-name: move-rl; } 
.animate-bt { animation-name: move-bt; }

/* --- Breadcrumb Particle Effect --- */
.crumb {
    position: absolute;
    /* A brownish breadcrumb color */
    background-color: #c1aa74; 
    border: 1px solid #553217;
    border-radius: 50%;
    /* Starts centered on the cursor */
    transform: translate(-50%, -50%); 
    z-index: 1; /* Above water, below fish/UI */
    /* Calls the animation */
    animation: breadcrumb-fade 2s linear forwards;
    opacity: 0; /* Start invisible, animation fades it in */
}

@keyframes breadcrumb-fade {
    0% {
        /* Start at center, full size, full opacity */
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        /* Hold opacity for a bit */
        opacity: 1;
    }
    100% {
        /* Move to the random destination, 
        shrink to nothing, and fade out 
        */
        opacity: 0;
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(0);
    }
}