html {
    height: 100%;
    background-color: #2B0057;
}

html, body, h1, h2 {
    font-family: Karla;
    margin: 0;
    padding: 0;
    height: 100%;
}

#head-container {
    display: flex;
    height: 200px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
h1 {
    height: 85px;
    display: flex;
    font-size: 80px;
    color: wheat;
    text-shadow:
        3px 3px 5px #410c53,
        -3px 3px 5px #410c53,
        -3px -3px 5px #410c53,
        3px -3px 5px #410c53;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}
#whole-page-flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body div {
    height: 250px;
    width: fit-content;
}

.flex-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
}
.lily-pad {
    display: flex;
    justify-content: center;
    justify-items:center;

    background-image: url('../img/Lily\ Pad.svg');
    background-size: contain;
    width: 25vw;
    height: 25vw;
    max-height: 80vh;

    /* outline: white solid 20px; */
    filter: drop-shadow(20px 20px 20px rgb(1, 16, 31));
    cursor: pointer;
}
.lily-pad::before {
    width: inherit;
    height: inherit;
    background-image: url('../img/Lily\ Pad.svg');
    background-size: contain;
        outline: white solid 20px;
}
.lily-pad:nth-of-type(2)::before {
    transform: rotate(45deg) scale(1.2); 
}

h2 {
    font-size: 40px;
    height: 80px;
    align-content: center;
    text-align: center;
}


#shigoto {
    margin-left: 20px;
    height: 60px;
    width: auto;
    -webkit-animation: rotate 4s linear infinite alternate;
    -moz-animation: rotate 1s linear infinite alternate;
    animation: rotate 1s cubic-bezier() infinite alternate;
}
@-moz-keyframes rotate { 
    0%      { -moz-transform: rotate(-5deg); }
    100%    { -moz-transform: rotate(5deg); } 
}
@-webkit-keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); }
    100%    { -webkit-transform: rotate(5deg); } 
}
@keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); 
                transform:rotate(-5deg);   }
    100%    { -webkit-transform: rotate(5deg); 
                transform:rotate(5deg);  } 
}


main {
    height: fit-content;
    width: fit-content;
    z-index: 10;
}

#pond-container {
    width: 100vw;   
    height: 100vh;  
    background-image: url('../img/seamless\ rocks\ 2.webp');
    position: absolute; 
    overflow: hidden; 
    z-index: -1;
}
#water-sheet {
    background-color: rgba(0, 149, 255, 0.293);
    position: absolute;
    width: 100%;   
    height: 100%;  
    z-index: 2;
}

.fish {
    position: absolute; 
    width: 300px;
    height: 200px;
    /* TODO: support variance for fish size? */
    
    left: var(--start-x-pos);
    top: var(--start-y-pos);
    
    background-image: url('../img/translucent_fish.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 0;
    border-radius: 0;
    /* setting origin helps ensure rotation is performed properly */
    transform-origin: center center; 
    
    animation-name: fish-swim;

    opacity: 1;
    transition: opacity 1s linear; 
}
.fish-animation {
    animation-timing-function: linear; 
    animation-fill-mode: forwards; 
}
.fish.fading-out {
    opacity: 0;
}

@keyframes fish-swim {
    0% { 
        transform: rotate(var(--rotation-angle)) translate(0, 0); 
    }
    100% { 
        /* calculate total travel distance via (end - start) */
        transform: rotate(var(--rotation-angle)) translate(
            calc(var(--end-x-pos) - var(--start-x-pos)), 
            calc(var(--end-y-pos) - var(--start-y-pos))
        );
    }
}

/* TODO: */
.animate-lr { animation-name: move-lr; }
.animate-tb { animation-name: move-tb; }
.animate-rl { animation-name: move-rl; } 
.animate-bt { animation-name: move-bt; }

/* --- Breadcrumb Particle Effect from Gemini --- */
.crumb {
    position: absolute;
    /* A brownish breadcrumb color */
    background-color: #c1aa74; 
    border: 1px solid #553217;
    border-radius: 50%;
    /* Starts centered on the cursor */
    transform: translate(-50%, -50%); 
    z-index: 3; 
    
    /* Calls the "spread" animation, then calls the "float" animation */
    /* MODIFIED: Use CSS var for float duration */
    animation: breadcrumb-spread 0.5s ease-out forwards,
               breadcrumb-float var(--float-duration, 1.2s) ease-in-out 0.5s infinite alternate;
    opacity: 0; 
}

/* Animation for crumbs spreading from click */
@keyframes breadcrumb-spread {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        /* Move to final floating spot */
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(1);
    }
}

/* MODIFIED: Animation for crumbs floating with variance */
@keyframes breadcrumb-float {
    from {
        /* This is the 100% state of breadcrumb-spread */
        /* Use CSS variables with fallbacks */
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(1) translateY(0px) rotate(calc(var(--float-rotate, 4deg) * -1));
    }
    to {
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(1) translateY(var(--float-translate, 2px)) rotate(var(--float-rotate, 4deg));
    }
}


/* Class added by JS when fish arrives */
.crumb.eaten {
    /* This overrides the other animations */
    animation: breadcrumb-eaten 1s linear forwards;
    z-index: 1; 
}

/* Animation for being eaten (was breadcrumb-fade) */
@keyframes breadcrumb-eaten {
    0% {
        /* Start from floating spot - will snap from float, which is fine */
        opacity: 1;
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(1);
    }
    100% {
        /* Fade and shrink */
        opacity: 0;
        transform: translate(calc(var(--tx) - 50%), calc(var(--ty) - 50%)) scale(0);
    }
}

/* --- NEW: Ripple Effect --- */
.ripple {
    position: absolute;
    /* z-index 2: Above water, below crumbs */
    z-index: 2; 
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    
    /* Center it on the click point */
    transform: translate(-50%, -50%);
    
    /* Get size from JS, with a fallback */
    width: var(--start-size, 45px);
    height: var(--start-size, 45px);
    
    /* Start invisible */
    opacity: 0; 
    
    /* Call the animation, set duration to 2s, and use 'forwards' to hold the end state (opacity 0) */
    animation: ripple-spread 2s ease-out forwards;
    
    /* Make sure it doesn't block clicks */
    pointer-events: none;
}

@keyframes ripple-spread {
    0% {
        /* Start at 0.7 opacity and defined size */
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        /* End faded out and 5x larger */
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}

