html {
    height: 100%;
    background-color: #2B0057;
}

.body {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;

    height: 100%;
    /* margin-left: 50%;
    margin-right: 50%; */
    /* height: 250px;
    width: 100%; */

    /* margin-left: 50%;
    margin-right: auto; */
}

.body div {
    height: 250px;
    width: fit-content;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    align-items: center;

    width: auto;
    height: auto;

    margin-top: 100px;
}

#construction {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Karla;
    color: #D0E2FF;
    text-align: center;
    font-size: 60px;

    text-shadow:
        3px 3px 0 #163582,
        -3px 3px 0 #163582,
        -3px -3px 0 #163582,
        3px -3px 0 #163582;    
}


#shigoto {
    margin-left: 50px;
    height: 250px;
    -webkit-animation: rotate 4s linear infinite alternate;
    -moz-animation: rotate 1s linear infinite alternate;
    animation: rotate 1s cubic-bezier() infinite alternate;
}
@-moz-keyframes rotate { 
    0%      { -moz-transform: rotate(-5deg); }
    100%    { -moz-transform: rotate(5deg); } 
}
@-webkit-keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); }
    100%    { -webkit-transform: rotate(5deg); } 
}
@keyframes rotate { 
    0%      { -webkit-transform: rotate(-5deg); 
                transform:rotate(-5deg);   }
    100%    { -webkit-transform: rotate(5deg); 
                transform:rotate(5deg);  } 
}