:root {
    --MidBrown:      #986B41;
    --DarkBrown:    #56342A;
    --White:rgb(247, 236, 222);
    --OffWhite: rgb(228, 202, 167);

  }


  #forward-arrow {
    position: absolute;
    top: 40px;
    right: 40px;

    height: 80px;

    transform: rotate(0deg);
    transition: 2s;
}
#forward-arrow:hover {
    animation-name: rotate-Front;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  #body-container {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

#chalkboard-frame {
    background-image: url("../img/home/wooden_frame.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#chalkboard {
    display: flex;
    flex-direction: column;
    background-image: url("../img/home/chalkboard.jpg");
    background-size: cover;

    margin: 30px;
    color: white;
}

#chalk-sections {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

#menu-header {
    margin-top: 8px;

    letter-spacing: 2px;
    font-family: Fredericka the Great, serif;
    font-size: 48px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 22px;
}
h3 {
    letter-spacing: 1px;
    font-size: 28px;
    font-family: Fredericka the Great, serif;
    font-style: italic;
    font-weight: lighter;

    text-align: center;
}
#left-chalk-divisor {
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: Cabin Sketch, serif;
    font-size: 24px;
}
#right-chalk-divisor {
    display: flex;
    width: 300px;
    height: 400px;

    margin-right: 20px;
    margin-left: 10px;

    background-image: url("../img/home/chalkboard_art_new.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@keyframes rotate-Front{
    0% {  transform: rotate(0deg);}
    25%{  transform: rotate(5deg);}
    50%{  transform: rotate(0deg);}
    75%{ transform: rotate(-5deg);}
    100%{ transform: rotate(0deg);}
}